.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh; /* Adjust the height as needed */
  }

  .custom-padding {
    padding: 15px; /* Adjust the padding as needed */
  }
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 90%;
    margin-top: -1px;
  }

  input:type("text") {
    width: auto;
  }
  